<main class="shirt-generator">
  <figure class="shirt-illustration">
    <img class="meme" src='<%= new_meme %>' alt="image macro from Reddit" />
  </figure>
  <nav class="content-nav">
    <span class="primary"><span class="inner">
      <button class="content-nav-button" id="generate-shirt">Generate a shirt</button>
    </span></span>
    <span class="alternate"><span class="inner">
      <a class="content-nav-button" href="/subscriptions/new">Subscribe!</a>
    </span></span>
  </nav>
  
  <nav class="gender-nav">
    <input type="button" value="Ladies" id="shirt_button">
  </nav>

</main>

<div id="kluge"></div>

